<div class="container mt-5">
    <div class="row">
          <div class="col-sm-3">
              <div class="card" style="width: 18rem;">
              <img src="assets/1.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                          <h5 class="card-title">Anteojos con filtro</h5>
                          <p class="card-text">Referencia: 47553214 <br> Precio:$ 150.000</p>
                          <a href="#" class="btn btn-primary">Comprar</a>
                     </div>
              </div>
          </div>
          <div class="row ml-4">
              <div class="col-sm-3">
                  <div class="card" style="width: 18rem;">
                  <img src="assets/1.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                              <h5 class="card-title">Anteojos casuales</h5>
                              <p class="card-text">Referencia: 44653214 <br> Precio:$ 100.000</p>
                              <a href="#" class="btn btn-primary">Comprar</a>
                         </div>
                  </div>
              </div>
          </div>
           
          <div class="row ml-1">
              <div class="col-sm-3">
                  <div class="card" style="width: 18rem">
                  <img src="assets/1.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                              <h5 class="card-title">Anteojos de descanso</h5>
                              <p class="card-text">Referencia: 44653214 <br> Precio:$ 80.000</p>
                              <a href="#" class="btn btn-primary">Comprar</a>
                         </div>
                  </div>
              </div>
          </div>
      </div>
</div>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Materia</th>
        <th scope="col">Frontend</th>
        <th scope="col">Backend</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{datos[0]}}</td>
        <td>{{datos[1]}}</td>
        <td>{{datos[2]}}</td>
        <td>{{datos[3]}}</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>{{datos2[0]}}</td>
        <td>{{datos2[1]}}</td>
        <td>{{datos2[2]}}</td>
        <td>{{datos2[3]}}</td>
      </tr>
    </tbody>
  </table>