<!--<div class="container mt-5">
    <form action="" class='form-group'>
        <input type="text" class="form-control" placeholder="Ingrese un presupuesto">
    </form>
    <button routerLink="/agregar-requerimientos"class="btn btn-primary">Buscar</button>
    <div class="row mt-4">
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Tipo Lente</h5>
                  <h5 class="card-title">Tipo Material</h5>
                  <h5 class="card-title">Tipo Recubrimiento</h5>
                </div>
            </div> 
        </div>
    </div>
</div>-->



  <div class="container">
      <div class="row">
        <div class="card">
            <img src="assets/modelos-de-lentes.jpg" class="card-img-top" alt="...">
            <div class="jumbotron">
                <h1 class="display-4" align="center">¿Quieres descubrir tus nuevos lentes?</h1>
                <p class="lead" align="center" >Averigualo</p>
              </div>
              <button class="botoncito" routerLink="/agregar-requerimientos"class="btn btn-primary btn-lg">Buscar</button>
        </div>
        
      </div>
    
  </div>
  